<div>
<% if @active_flavors.nil? or @active_flavors.empty? %>
  <p><em>There are no active flavors at this time.</em></p>
  <% else %>

      <% @active_flavors.each do |flavor| %>
      
        <div class="card" style="height:100%">
  <div class="card-body">
    <h5 class="card-title">
      
              <%= link_to flavor.name, flavor_path(flavor), {:class => "customLink"} %></h5>
              
              </div>
               </div >
  
        <td>
          <%if logged_in? and current_user.role? :admin%>
          
          <%= link_to(edit_flavor_path(flavor)) do %>
          <i class='far fa-edit'></i>
          <%end%>
          <% end %>
          </td>
          <% end %>
          <% end %>

   
</div>