<% unless @inactive_flavors.nil? or @inactive_flavors.empty? %>
  <div class="panel callout radius">
    <h3>Inactive Flavors</h3>
    <ul>
      <% @inactive_flavors.each do |flavor| %>
        <li><%= link_to flavor.name, flavor_path(flavor) %></li>
      <% end %>
    </ul>
  </div>
<% end %>