<% unless @inactive_flavors.nil? or @inactive_flavors.empty? %>
  <div class="card" >
  <div class="card-body">
    <h3 class="card-title">Inactive Flavors</h3>
    <ul>
      <% @inactive_flavors.each do |flavor| %>
        <li><%= link_to flavor.name, flavor_path(flavor) %></li>
      <% end %>
    </ul>
    
      </div>
</div>

<% end %>