<% unless @inactive_stores.empty? %>

<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Inactive Stores</h5>
    <ul>
      <% @inactive_stores.each do |store| %>
        <li><%= link_to store.name, store_path(store) %></li>
      <% end %>
    </ul>
        
 
  </div>
</div>

<% end %>