<div id="list_of_flavors">
	<% unless @store_flavors.empty? %>
	<table class="table table-hover">
		<thead>
	      <tr>
	        <th>Flavors</th>
	        <th>&nbsp;</th>
	      </tr>
	    </thead>
	    <tbody>
	          <% for store_flavor in @store_flavors %>
	          <tr>
	          <td><%= link_to store_flavor.flavor.name, flavor_path(store_flavor.flavor) %></td>
	          <td>
	          	
      		  </td>
	    	  <% end %>
		        
		      </p>
		   
		</tbody>
	</table>
	<%end%>

</div>

