<%if logged_in? and current_user.role? :admin%>

	<br/>
	<h2>Stores</h2>
	<div id = "subtitle"><p><%= Store.active.size %> active store(s).
	<%= Store.inactive.size %> inactive store(s).</p></div>

	<%= render partial: "partials/index_structure", locals: {model_name: "store", 
                                                         primary: "active_stores", 
                                                         secondary: nil,
                                                         sidebar: "inactive_stores"} %>
<%else%>
	<% if @active_stores.nil? or @active_stores.empty? %>
	  <p><em>There are no active stores at this time.</em></p>
	<% else %>
	  
	  <br/>
		<%= render partial: "guest_stores_display" %>
	  <%end%>

<%end%>
