    
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="225">Job Name</th>
            <th width="225">Job Description</th>
            <th width="75">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @active_jobs.each do |job| %>
            <tr>
              <td><%= link_to job.name, job_path(job) %></td>
              <td><%= job.description %></td>     
              <td>
                <%if current_user.role? :admin%>
                  <%= link_to(image_tag("edit.gif"), edit_job_path(job)) %>
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>



<p>&nbsp;</p>
<p>&nbsp;</p>
