<div>
          <% @active_jobs.each do |job| %>
            
        <div class="card" style="height:100%">
  <div class="card-body">
    <h5 class="card-title">
              <%= link_to job.name, job_path(job), {:class => "customLink"} %></h5>
              <p class="card-text">
              
              <%= job.description %></p>  
              <%if current_user.role? :admin%>
                  <%= link_to "Edit", edit_job_path(job) %>
                <%end%>
              </div>
               </div >
              
                
  
          <% end %>
  
</div>
       
