  <div class="card">

  	<br/>
  <h2>
    <%= @job.name %>
  </h2>
  
  
	<%= render partial: "job_details" %>
	<%if logged_in? and current_user.role? :admin%>
		<%= render partial: "partials/object_options", locals: {model_name: "job", object: @job}  %>

	<% else %>
	    <div class="form-actions">
          <div id = "back-button">
	      <%= link_to(jobs_path, class: 'btn btn-dark') do %>
	        See all jobs
	      <% end %>
	      </div>
	    </div>
	<% end %>

<br>
	</div>