<br/>
  <h2>
    <%= @job.name %>
  </h2>



  <div class="small-7 columns">
	<%= render partial: "job_details" %>
	<%if logged_in? and current_user.role? :admin%>
		<%= render partial: "partials/object_options", locals: {model_name: "job", object: @job}  %>

	<% else %>
	    <div class="form-actions">
          <div id = "back-button">
	      <%= link_to(jobs_path, class: 'button radius') do %>
	        SEE ALL JOBS
	      <% end %>
	      </div>
	    </div>
	<% end %>

  </div>


	