<div id="footer">
		<ul id="footer-nav">
				<br/>
    <%= link_to 'About the Creamery', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', privacy_path %>
	<br /><br />
		</ul>
		
		<p id="copy">Webmaster: <%= mail_to("rhaddad@andrew.cmu.edu", "Reem Al-Haddad", :encode => "javascript") %> 
		&copy 2019</p>
</div>