<div >
	
<div id="footer">
	
    

		<p id="copy">
		
		<%= link_to 'About the Creamery', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', privacy_path %>
	
	 <span style="float:right;">
	Webmaster: <%= mail_to("rhaddad@andrew.cmu.edu", "Reem Al-Haddad", :encode => "javascript") %> 
		&copy 2019
	</span>	
		</p>
</div>
</div>