
 <!-- Header -->
  <header class="mastheadbg">
    <div class="container text-center my-auto">
      <br><br><br>
      <h1 class="mb-1"> Amazing & Marvelous Creamery</h1>
      <h3 class="mb-5">
        <em>The best creamery in town!</em>
      </h3>
      
      
<% if logged_in? %>
         <%= link_to 'Logout', logout_path, { :class=> "btn btn-dark js-scroll-trigger" } %>
 
 <% else %>
 <a class="btn btn-dark js-scroll-trigger" href="guest" >Continue as a guest</a>
            <a class="btn btn-dark js-scroll-trigger" href="/sessions/new">Login</a>
        <% end %>
      
      

    </div>
    <div class="overlay"></div>
  </header>
  


</div>
    